@tailwind base;
@tailwind components;
@tailwind utilities;
input[type="radio"] {
    transform: scale(1.5);
    /* background-color: blue; */
  }

  input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
  